

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*Media queries para pantallas de maximo 576px*/
 @media screen and (max-width: 576px) {
    /* Modifica el padding del encabezado para ocupar menos espacio */
    header {
        padding: 20px;
    }

    /* Modifica el tamaño de la fuente del logo */
    header .logo {
        font-size: 1.5em;
    }

    /* Ajusta el padding y el margen del contenido para adaptarse al tamaño de la pantalla */
    .contenido {
        margin-top: 30px;
        padding: 15px;
    }

    /* Ajusta el tamaño de la imagen en la caja de imagen */
    .contenido .imgbox img {
        height: 10vh;
        border-radius: 70%;
    }
    /* Ajusta el margen y el padding del contenedor principal */
    .cuerpo2 {
        margin: 10px;
        padding: 10px;
    }

    /* Ajusta el margen izquierdo y el margen derecho de los elementos dentro del contenedor */
    .descripcion h2 {
        margin-left: 10%;
        margin-right:30% ;
    }

    .descripcion h3 {
        margin-left: 5%;
        margin-right: 25%;
    }

    .container div {
        margin-left: 20px;
        margin-right: 5px;
    }
    
    .container div img{
        width: 50%;
    }
    .cuerpo3 {
        margin: 10px;
        padding: 20px;
        font-size: 25px;
    }

    /* Ajusta el margen izquierdo y derecho de los títulos */
    .cv h1,
    .cv h4 {
        margin-left: 10%;
        margin-right: 10%;
    }

    /* Ajusta el margen izquierdo de la imagen */
    .cv img {
        margin: auto;
        width: 200px;
        height: 200px;
    }

    /* Ajusta el margen izquierdo y derecho del fieldset */
    .cv fieldset {
        margin-left: 10%;
        margin-right: 5%;
    }
    .cuerpo4 h2 {
        margin-left: 10%;
        
    }

    /* Ajusta el margen izquierdo y derecho de los elementos de la lista ul */
    .servicios ul,
    .servicios ul li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .cuerpo5 form {
        margin-left: 10px;
    }

    /* Ajusta el margen izquierdo y derecho del fieldset */
    .cuerpo5 fieldset {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Ajusta el margen izquierdo del botón de envío */
    #env {
        margin-left: 35%;
    }

    /* Ajusta el margen izquierdo del campo de comentarios */
    #comentario {
       
        margin-right: 70%;
    }

    /* Ajusta el ancho de los campos de email y dirección */
    #email,
    #Calle {
        width: 100%;
    }
}


/*media queries para pantallas de al menos  992*/

  @media screen and (min-width: 992px){

   /* Ajusta el margen izquierdo del texto del pie de página */
   .copyright p {
    margin-left: 0px;
   }
   .descripcion h2{
    margin-right: 30%;
   }
   .descripcion h3{
    margin-right: 25% ;
    }

}

/*Para todos los html*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;

}


/*CSS para mi index.html*/

.cuerpo1{
    background-image: url(img/sanidad.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: white;
    font-size: 2.0em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(7, 169, 152);
    border-radius: 5px;
    padding: 0px 10px;
    font-family: "Caveat", cursive;
    font-weight: 600;
}

header .logo:hover{
    background-color: pink;
    color: whitesmoke;
    transition: 1s;
}

header .navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

header .navbar li{
    list-style: none;
    margin-left: 30px;
}

header .navbar li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}

header .navbar li a:hover{
    border-bottom: 5px solid pink;
    padding: 5px;
}


/* vamos con el contenido de la web*/

.contenido{
position: relative;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding-left: 30px;
}

.contenido .Titulobox{
    position: relative;
    text-align: center;
    max-width: 600px;
}

.contenido .Titulobox h2{
    font-size: 3.0em;
    text-transform:uppercase ;
    color: black;
}

.contenido .Titulobox h2 span{
    background-color: rgb(7, 169, 152);
    color: whitesmoke;
    padding: 0px 10px;
    font-family: "Caveat", cursive;
    font-weight: 300;
    border-radius: 30px;
}

.contenido .Titulobox p{
    font-size: 2.0em;
    line-height: 1.5;
    color: black;
    font-family: "Caveat", cursive;
    font-weight: 300;
    margin-bottom: 20px;
}

.contenido .Titulobox a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: white;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.contenido .Titulobox a:hover{
    color: whitesmoke;
    background-color: pink;
    transition: 0.5s;
}

.contenido .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
    z-index: -5;
}

.contenido .imgbox img{
    height: 40vh;
    border-radius: 50%;

}

.contenido .imgbox img:hover{
    height: 40vh;
}

.copyright{
    position: absolute;
    bottom: 0px;
    left: 400px;
    margin-bottom: 20px;
    padding: 0px 100px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: white;
    text-align: center;
    margin-left: 100px;
}

.redesSociales{
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 30px;
    list-style: none;
}

.redesSociales li{
    padding: 10px;
}

.redesSociales li a{
    color: whitesmoke;
    font-size: 2.5em;
    transition: 0.3s;
}

.redesSociales li:hover a{
    color: pink;
}

.circulo{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(7, 169, 152);
    clip-path: circle(450px at right 600px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}


/* CSS de mi quiensoy.html*/


.cuerpo2{
    background-image: url(img/fondo\ rosa.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
}

.descripcion{
    font-family: "Caveat", cursive;
    font-size: 2.0em;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.descripcion h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.0em;
    color: rgb(171, 44, 171);
    text-align: center;
    max-width: 400px;
    text-transform: uppercase;
    text-decoration-line: underline;
    margin-left: 35%;
    padding: 10px 10px;
    text-shadow: 0 0 10px white;
}

.descripcion h3{
    font-family: "Caveat", cursive;
    text-transform: uppercase;
    font-size: 2.0em;
    color: black;
    text-align: center;
    padding: 10px 10px;
    margin-left: 25%;
}

.container fieldset{
    background-color: rgb(210, 153, 222);
    border-radius: 20%;
    border: solid 30px white;
    width: 100%;
    height: 100%;
}

.container legend{
    font-size: 1.5em;
    color:rgb(27, 5, 27);
    text-align: center;
    position: relative;
    text-align: center;
    padding: 10px 10px;
    text-shadow: 0 0 10px black;
}

.fotos{
    width: 100%;
    margin:  auto;
    display: block;
    clear: both;
}

.container div{
    width: 20%;
    height: auto;
    display: inline;
    float: left;
    margin-left: 40px;
    margin-right: 10px;
    padding: 0px;
    align-items: center;
}

.container div img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px white;
    border: 5px solid white;
    display: flex;
    flex-wrap: wrap;
}

/*que la descripcion por defecto no se muestre*/
.container div img~span{
    width: 100%;
    display: block;
    opacity: 0;
    margin: 0;
    padding: 2px 5px;
    box-shadow: 0 0 10px white;
    text-align: center;
}

/*Se muestra la descripcion al poner el cursor por encima de la iamgen*/
.container div img:hover+span{
    opacity: 1;
}

/*Comportamiento que tendran las imagenes al pulsar el raton por encima*/
.container:hover div{
    opacity: 0.2;
    transform: scale(0.7);
    transition: 2s;
}

/*Se especifica el comportamiento que tendra la imagen seleccionada*/
.container:hover div:hover{
    opacity: 1;
    transform: scale(1);
}

.descripcion ul li{
    position: relative;
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 1.5em;
    color: black;
    list-style: none;
}


/*css de mi cv.html*/

.cuerpo3{
    background-image: url(img/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 30px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-family: "Caveat", cursive;
    font-size: 30px;
    color: black;
    text-align: center;
}

.cv h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    margin-left: 12%;
    margin-right: 15%;
    padding: 20px 20px;
    text-align: center;
    color: rgb(154, 103, 8);
    text-shadow: 0 0 15px black;
}

.cv h4{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    margin-left: 12%;
    margin-right: 15%;
    padding: 20px 20px;
    text-align: center;
    color: rgb(154, 103, 8);
}

.cv img{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    margin-left: 40%;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.cv fieldset{
    border-radius: 20%;
    border: solid 15px rgb(205, 159, 50);
    color: black;
    padding: 15px 15px;
    font-family: "Caveat", cursive;
    align-items: center;
    margin-left: 12%;
    margin-right: 10%;
}

.cv fieldset legend{
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-shadow: 0 15px rgb(205, 159, 50);
}

.cv h3{
    font-family: "Caveat", cursive;
    font-size: 1.5em;
    color: rgb(154, 103, 8);
    padding: 15px 15px;
}

.cv ul li{
    list-style: none;
    color: black;
    text-align: center;
    padding: 10px 10px;
    font-family: "Caveat", cursive;
    
}

/*css de ServiciosOfrecidos*/

.cuerpo4{
    background-image: url(img/azulturquesa.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Caveat", cursive;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuerpo4 h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.0em;
    color: black;
    text-transform: uppercase;
    text-decoration-line: underline;
    margin-left: 25%;
    margin-top: 5%;
    text-shadow: 0 0 15px black;
}

.servicios ul{
    margin-top: 7%;
    list-style: none;
    padding: 15px 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
   
.servicios ul li{
    list-style: square;
    color: rgb(14, 120, 159);
    font-family: "Caveat", cursive;
    font-size: 2.0em;
    text-transform: uppercase;
    text-align: left;
    padding: 15px 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.servicios img{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
}

.servicios img:hover{
    transform: rotateY(-180deg);

}

/*css de Contacto.html*/

.cuerpo5{
    background-image: url(img/azulturquesa.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    margin-top: 10%;
    padding: 15px 15px;
    align-items: center;
    justify-content: space-between;
   
}

.cuerpo5 form{
    margin-left: 15px;
    padding: 10px 10px;
}

.cuerpo5 legend{
    text-shadow: 0 10px white;
}

.cuerpo5 fieldset{
    border-radius: 10%;
    border: solid 10px rgb(8, 95, 98);
    color: black;
    padding: 20px 20px;
    font-family: "Caveat", cursive;
    margin-left: 10px;
    margin-right: 15px;
    background-color: rgb(22, 183, 181);
}

.cuerpo5 fieldset input:enabled , textarea:enabled , option:enabled{
    background-color: rgb(144, 231, 242);
}

.cuerpo5 fieldset input,option{
    width: 75px;
    height: 25px;
}

.cuerpo5 fieldset legend{
    font-family: "Caveat", cursive;
    font-size: 2.0em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(8, 95, 98);
}

#env{
    font-size: 1.0em;
    margin-left: 47%;
}

#comentario{
    margin-left: 40%;
}

#email , #Calle{
    width: 175px;
    height: 25px;
}